{% load comments %}

<form action="{% comment_form_target %}" method="post" id="commentForm">
    {% csrf_token %}
    <ul class="fields">
        {% if next %} {# If there are errors in the form, make sure we keep the forwarding url intact #}
            <input type="hidden" name="next" value="{{ next }}" />
        {% else %}
            <input type="hidden" name="next" value="{{ object.get_absolute_url }}" />
        {% endif %}

        {% include "form-elements.html" %}

        <li class="buttons">
            <button name="post" type="submit" value="Post">Post &raquo;</button>
        </li>
    </ul>
</form>






{# {% load comments %} #}
{#  #}
{# <form action="{% comment_form_target %}" method="post" id="commentForm"> #}
{#     {% csrf_token %} #}
{#     <ul class="fields"> #}
{#         {% if next %} {# If there are errors in the form, make sure we keep the forwarding url intact #}
{#             <input type="hidden" name="next" value="{{ next }}" /> #}
{#         {% else %} #}
{#             <input type="hidden" name="next" value="{{ object.get_absolute_url }}" /> #}
{#         {% endif %} #}
{#         {% for field in form %} #}
{#             {% if field.is_hidden %} #}
{#                 {{ field }} #}
{#             {% else %} #}
{#                 {% ifequal field.name "honeypot" %} #}
{#                     <div style="display:none;">{{ field }}</div> #}
{#                 {% else %} #}
{#                     <li class="field"> #}
{#                         <label for="{{ field.auto_id }}"{% if field.errors %} class="error"{% endif %}>{{ field.label }}{% if field.field.required %}<span class="req">*</span>{% endif %}</label> #}
{#                         <div class="element text {% ifequal field.name "comment" %}large{% else %}medium{% endifequal %} {% if field.errors %}error{% endif %}"> #}
{#                             {{field}} #}
{#                             {{field.errors}} #}
{#                         </div> #}
{#                     </li> #}
{#                 {% endifequal %} #}
{#             {% endif %} #}
{#         {% endfor %} #}
{#         <li class="buttons"> #}
{#             <button name="post" type="submit" value="Post">Post &raquo;</button> #}
{#         </li> #}
{#     </ul> #}
{# </form> #}