<div class="postContainer">
    <h2>{{ object.title }}</h2>
    <div class="post">
        {{ object.body_html|safe }}
    </div>
    <ul class="postMetadata">
        <li>{{ object.date_created|date:"D jS M" }}<br/>{{ object.date_created|date:"Y" }}</li>
    </ul>
</div>

<ul id="prev-next">
    {% if object.next_entry %}
    <li id="next"><a href="{{ object.next_entry.get_absolute_url }}">{{ object.next_entry.title }} &raquo;</a></li>        
    {% endif %}
    {% if object.previous_entry %}
    <li id="prev"><a href="{{ object.previous_entry.get_absolute_url }}">&laquo; {{ object.previous_entry.title }}</a></li>
    {% endif %}
</ul>